<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title> LiveFacilites </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">LiveFacilites</ion-title>
    </ion-toolbar>
  </ion-header>

    <div id="container">
      <ion-card>
        <ion-card-header>
          <ion-card-title>Controle de Ponto</ion-card-title>
        </ion-card-header>

        <ion-card-content>
          <div class="digitalTime">
            <div><p>{{hora}}:{{minuto}}:{{segundo}} {{ampm}}</p></div>
          </div>
          <ion-button
            color="primary"
            class="ion-margin-top ion-margin-bottom btn-color"
            >Entrada</ion-button
          ><br />
          <ion-button color="secondary" class="btn-color">Saída</ion-button>
        </ion-card-content>
      </ion-card>
    </div>
</ion-content>
